@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes pisca {
    0% {opacity: 0.2;}
    50% {opacity: 1;}
    100% {opacity: 0.2;}
}

.urna {
    background-color: #dbd5c9;
    padding: 30px;
    display: flex;
}

.tela {
    width: 500px;
    height: 320px;
    background: linear-gradient(to right, #e8e8e8, #c1c1c1);
    border: 3px solid #555;
    display: flex;
    flex-direction: column;
}

.d-1 {
    flex: 1;
    display: flex;
}

.d-1-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.d-1-1 {
    height: 50px;
    display: flex;
    align-items: center;
}

.d-1-2 {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-1-3 {
    display: flex;
    height: 50px;
}

.numero {
    display: inline-block;
    width: 30px;
    height: 40px;
    border: 1px solid #000;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
}

.pisca {
    animation-name: pisca;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.d-1-4 {
    flex: 1;
    line-height: 30px;
}

.d-1-right {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.d-1-image {
    border: 1px solid #000;
    background-color: #FFF;
    text-align: center;
    font-size: 14px;
}

.d-1-image img {
    width: 100%
}

.d-1-image.small {
    width: 70%;
    font-size: 80%;
}

.d-2{
    height: 50px;
    font-size: 14px;
    border-top: 2px solid #000;
    padding-left: 10px;
}

.teclado {
    background-color: #403a3a;
    margin-left: 30px;
}

.teclado-linha {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.teclado-botao {
    width: 70px;
    height: 40px;
    background-color: #000;
    color: #FFF;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 0px #555;
}

.botao-branco {
    background-color: #FFF;
    color: #000;
    font-size: 15px;
}

.botao-corrige {
    background-color: #f09046;
    color: #000;
    font-size: 15px;
}

.botao-confirma {
    background-color: #48c079;
    color: #000;
    font-size: 15px;
    width: 90px;
    height: 50px;
}

.aviso-grande {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

.aviso-gigante {
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}